---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "github-light",
        "variables",
        "mixins",
        "creative"
;

.navbar-header iframe {
  position: relative;
  top: 15px;
}

.header-content iframe {
  position: relative;
  top: 10px;
  left: 10px;
}

.header-content {
  img {
    max-width: 500px;
  }
}