// http://clrs.cc/
//
// COLOR VARIABLES
//
// - Cool
// - Warm
// - Gray Scale
//

// Cool

$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime:  #01FF70;

// Warm

$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;

// Gray Scale

$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$black:  #111;



$color-module: $red;
$color-service: lighten($blue, 15%);
$color-controller: lighten($olive, 15%);
$color-directive: $orange;
$color-directive-controller: $yellow;
$color-filter: desaturate($yellow, 10%);
$color-value: lighten($purple, 20%);

$components: module, service, controller, directive, filter, value;
$components-colors: $color-module, $color-service,
    $color-controller, $color-directive, $color-filter, $color-value; 
