.controls {
  margin-bottom: 5px;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;

  & > div {
    margin-right: 10px;
  }

}

.choose-scope {

  border-radius: 3px;

  display: inline-block;
  background: black;
  background-image: linear-gradient(to bottom, darken(#3498db, 10%), #2c84ba);



  & > div {
    display: inline-block;
    padding: 8px;
    cursor: pointer;
    color: #fff;
    

    &.active, &:hover {
      border-radius: 3px;

      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    }

  }
}

/**
 * Search controls - typeahead.js
 */
.search {
  display: inline-flex;
  align-items: center;
  label {
    margin-right: 5px;
  }
}

.tt-dataset {
  background: white;
  min-width: 400px;
}

.tt-suggestion {
  color: #444;
  padding: 5px;
  border-bottom: 1px solid #aaa;
  cursor: pointer;
  display: flex;
  align-items: center;
  
  &.tt-cursor {
    background: #ddd;
  }

  @each $type in $components {
      $i: index($components, $type);
      &.#{$type} {
          .type {
              background: lighten(nth($components-colors, $i), 10%);
              padding: 3px;
              border-radius: 3px;
              color: white;
          }
      }
  }

  .type {
    margin-left: 5px;
    font-style: italic;
    font-size: 0.8em;
  }
}

/**
 * Bottom left controls
 */
.mouse-instructions {
  padding: 5px;
}

.trigger-components {

  label {
    cursor: pointer;
    padding: 2px;
    display: block;
  }

  /**
   * Node colors
   */
  @each $type in $components {
      $i: index($components, $type);
      & > .#{$type} {
          background: linear-gradient(to right, nth($components-colors, $i), lighten(nth($components-colors, $i), 8%));
          border-width: 0px;
          border-style: solid;
          font-size: 0.9em;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          font-style: italic;
      }
  }

}