.controls {
  margin-bottom: 5px;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;

  & > div {
    display: inline-block;
    margin-right: 10px;
  }

}

.choose-scope {
  $border: 1px solid $silver;

  border-radius: 5px;
  background: $blue;
  border: $border;
  display: inline-block;

  & > div {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    color: #ddd;
    
    &:first-child {
      border-right: $border;
    }

    &.active {
      color: #fff;
      background: lighten($blue, 20%);
    }

  }
}

.mouse-instructions {
  padding: 5px;
}

.trigger-components {

  label {
    cursor: pointer;
    padding: 3px;
  }

  & > .services {
    background: $color-service;
  }

  & > .controllers {
    background: $color-controller;
  }

  & > .directives {
    background: $color-directive;
  }

  & > .filters {
    background: $color-filter;
  }

}