$color-graph-bg: #333;

$color-service: $orange;
$color-controller: $blue;
$color-directive: $green;
$color-filter: $lime;

.link {
    stroke: #ccc;
    stroke-width: 1.5px;
}
.node {
    circle {
        stroke: #fff;
        stroke-width: 1.5px;
    }
}

.filter {
    & > circle {
        fill: $color-filter;
    }
}

.service {
    & > circle {
        fill: $color-service;
    }
}
.controller {
    & > circle {
        fill: $color-controller;
    }
}

.directive {
    & > circle {
        fill: $color-directive;
    }
}

text {
    font: 10px sans-serif;
    pointer-events: none;
}


.filters__component-type {
  label {
    user-select: none;
  }
}