.info-panel-wrapper, .info-panel {
  height: 100%;
}

.info-panel-wrapper {
  position: fixed;
  right: 0;
  top: 0;
  width: $info-panel-width;
}

.info-panel {
  color: #444;
  overflow-y: scroll;

  .info {
    margin: 5px 0px;
    display: flex;
    align-items: center;

    & > span {
      vertical-align: middle;
    }
    .node-module-name {
      color: $color-module;
    }
  }

  .node-title {
    font-weight: bold;
    font-size: 1.4em;
    padding: 5px;
  }
  
  .title {
    background: #eee;
    border-bottom: 1px solid #ccc;  
    border-top: 1px solid #ddd;  
  }

  .info-panel-list {
    & > div {
      padding: 3px;
    }

    @each $type in $components {
        $i: index($components, $type);
        &.#{$type} {
            & > .title {
                background: lighten(nth($components-colors, $i), 10%);
                color: white;
            }
        }
    }

  }


  .node-module-title {
  }

  .choose-node {
    cursor: pointer;
    color: $blue;

    &:hover {
      color: lighten($blue, 30%);
    }
  }

}

.filter-modules {
  & > div {
    padding: 3px;
    label {
      display: flex;
      align-items: center;
    }
    span {
      width: 50px;
    }
    input {
      flex: 1;
      // width: 200px;
      vertical-align: middle;
    }

    &:first-child {

    }
  }

}