.info-panel-wrapper, .info-panel {
  height: 100%;
}

.info-panel-wrapper {
  position: fixed;
  right: 0;
  top: 0;
  width: $info-panel-width;
}

.info-panel {
  color: #444;

  overflow-y: scroll;
  
  .title {
    background: #eee;
    border-bottom: 1px solid #ccc;  
  }

  .section {
    & > div {
      padding: 3px;
    }
  }

  .info {
    & > span {
      vertical-align: middle;
    }
  }

  .node-title {
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px;
  }

  .node-module-title {

  }


  .choose-node {
    cursor: pointer;
    color: $blue;

    &:hover {
      color: lighten($blue, 30%);
    }
  }

}