.info-panel-wrapper {
  height: 100%;
  background: white;
}
.info-panel {
  height: calc(100% - 70px); // TODO convert to flex vertical layout
}

.info-panel-wrapper {
  position: fixed;
  right: 0;
  top: 0;
  width: $info-panel-width;
}

.info-panel {
  color: #444;
  overflow-y: scroll;
  font-size: 13px;

  .info {
    margin: 5px 0px;
    display: flex;
    align-items: center;

    & > span {
      vertical-align: middle;
      padding: 5px;
    }
    .node-module-name {
      color: $color-module;
    }
  }

  .node-title {
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px;
  }
  
  .title {
    background: #eee;
    border-bottom: 1px solid #ccc;  
    border-top: 1px solid #ddd;  
  }

  .info-panel-list {
    & > div {
      padding: 3px;
      margin-bottom: 3px;
    }

    @each $type in $components {
        $i: index($components, $type);
        &.#{$type} {
            & > .title {
                background: lighten(nth($components-colors, $i), 10%);
                color: white;
            }
        }
    }

  }


  .node-module-title {
  }

  .choose-node {
    cursor: pointer;
    color: $blue;

    &:hover {
      color: lighten($blue, 30%);
    }
  }

}

.filter-modules {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: white;
  width: $info-panel-width;
  .title {
    padding: 5px;
    font-weight: bold;
  }

  & > div {
    padding: 5px;
    label {
      display: flex;
      align-items: center;
    }
    span {
      width: 50px;
    }
    input {
      font-size: 12px;
      flex: 1;
      // width: 200px;
      vertical-align: middle;
    }

    &:first-child {

    }
  }

}