$info-panel-width: 300px;

@import "colors";
@import "graph";
@import "controls";
@import "infoPanel";
@import "about";


@mixin font-family-mix {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif ;
  // font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html {
  @include font-family-mix;
  margin: 0;
  font-size: 14px;
  background: $color-graph-bg;;
}

body {
  margin: 0;
}

html, body, .app, .about, .main {
  height: 100%;
}

$dg-graph-width: calc(100% - #{$info-panel-width} - 30px);

.dg-graph {
  margin-right: $info-panel-width;
  position: relative;
  height: 100%;

  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.55);

  background: $color-graph-bg;
  color: white;

  svg {
    width: 100%;
    height: 100%;
    cursor: move;

    circle {
      z-index: -3;
    }

    text {
      z-index: 0;
      fill: white;
      @include font-family-mix;
    }

    line {
      z-index: 3;
      fill: white;
    }
  }

  .node {
    cursor: pointer;
  }

  .legend {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }

  .reset-tour {
    cursor: pointer;
    text-decoration: underline;
    color: white;
    position: absolute;
    display: inline-block;
    bottom: 10px;
    right: 10px;
  }

}

