@import "_colors.scss";
@import "_graph.scss";
@import "_controls.scss";

@mixin font-family-mix {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif  ;
}

html {
  height: calc(100% - 20px);
  @include font-family-mix;
  margin: 0;
  font-size: 11px;
}

body {
  margin: 0;
}

body, .main {
  height: 100%;
}

.main {
}

$info-panel-width: 300px;
$dg-graph-width: calc(100% - #{$info-panel-width} - 30px);

.dg-graph {
  display: inline-block;

  width: $dg-graph-width;
  height: calc(100% - 30px);

  border: 1px solid #333;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.55);
  padding: 10px;

  background: $color-graph-bg;
  color: white;

  svg {
    width: 100%;
    height: 100%;
    cursor: move;

    circle {

    }

    text {
      fill: white;
      @include font-family-mix;
    }

    line {
      fill: white;
    }
  }

  .node {
    cursor: pointer;
  }

  .legend {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

}

.info-panel {
  display: inline-block;
  width: $info-panel-width;
  .title {
    background: $gray;
    border-bottom: 1px solid $black;  
  }
  
  .section {

  }

}
