<section class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>ng-dependency-graph</h2>
      <a href="https://github.com/filso/ng-dependency-graph" class="btn btn-default btn-xl wow tada">View on GitHub</a>
      <a href="https://github.com/filso/ng-dependency-graph/zipball/master" class="btn btn-default">Download .zip</a>
      <a href="https://github.com/filso/ng-dependency-graph/tarball/master" class="btn btn-default">Download .tar.gz</a>
    </div>
  </div>
</section>
