<div ng-controller="InfoPanelCtrl as infoPanel" class="info-panel">
  <div ng-if="infoPanel.node && infoPanel.node.type !== 'module'">
    
    <div class="info">
      <span class="node-title" ng-bind="infoPanel.node.name"></span>
      <a class="node-module-name choose-node" ng-bind="infoPanel.node.module.name" ng-click="chooseNode(infoPanel.node.module)"></a>
    </div>

    <div dg-info-panel-list="infoPanel.node.deps" title="Dependencies"></div>
    <div dg-info-panel-list="infoPanel.node.provides" title="Required by"></div>

  </div>


  <div ng-if="infoPanel.node && infoPanel.node.type === 'module'">
    <div class="info">
      <span class="node-title" ng-bind="infoPanel.node.name"></span>
      <a class="node-module-name choose-node" ng-bind="infoPanel.node.module.name" ng-click="chooseNode(infoPanel.node.module)"></a>
    </div>

    <div dg-info-panel-list="infoPanel.node.deps" title="Dependencies"></div>
    <div dg-info-panel-list="infoPanel.node.provides" title="Required by"></div>

    <div class="services" dg-info-panel-list="infoPanel.node.componentsByType['service']" title="Services"></div>
    <div class="controllers" dg-info-panel-list="infoPanel.node.componentsByType['controller']" title="Controllers"></div>
    <div class="directives" dg-info-panel-list="infoPanel.node.componentsByType['directive']" title="Directives"></div>
    <div class="filters" dg-info-panel-list="infoPanel.node.componentsByType['filter']" title="Filters"></div>

  </div>

  <div>
    Ignore modules: <input type="text" value="ng*; ui.bootstrap.*"></input><br/>
    Filter modules: <input type="text"></input>
  </div>


</div>
