<div ng-controller="InfoPanelCtrl as infoPanel" class="info-panel">
  <div ng-if="infoPanel.node">
    <div class="info">
      <span class="node-title" ng-bind="infoPanel.node.name"></span>
      <a class="node-module-name choose-node" ng-bind="infoPanel.node.module.name" ng-click="chooseNode(infoPanel.node.module)"></a>
    </div>
    </div>
    <div class="section">
      <div class="title">Dependencies ({{infoPanel.node.deps.length}}):</div>
      <div class="node-list">
        <span ng-if="infoPanel.node.deps.length == 0">none</span>
        <span ng-repeat="item in infoPanel.node.deps"><a ng-bind="item.name" ng-click="chooseNode(item)" class="choose-node"></a>, </span>
      </div>
    </div>
    <div class="section">
      <div class="title">Required by ({{infoPanel.node.provides.length}}):</div>
      <div class="node-list">
        <span ng-if="infoPanel.node.provides.length == 0">none</span>
        <span ng-repeat="item in infoPanel.node.provides"><a ng-bind="item.name" ng-click="chooseNode(item)" class="choose-node"></a>, </span>
      </div>
    </div>
  </div>


</div>
