<div ng-controller="InfoPanelCtrl as infoPanel" class="info-panel">
  <div ng-if="infoPanel.node && infoPanel.node.type !== 'module'">
    
    <div class="info">
      <span class="node-title" ng-bind="infoPanel.node.name"></span>
      <a class="node-module-name choose-node" ng-bind="infoPanel.node.module.name" ng-click="chooseNode(infoPanel.node.module)"></a>
    </div>

    <div dg-info-panel-list="infoPanel.node.deps" title="Dependencies"></div>
    <div dg-info-panel-list="infoPanel.node.provides" title="Required by"></div>

  </div>


  <div ng-if="infoPanel.node && infoPanel.node.type === 'module'">
    <div class="info">
      <span class="node-title" ng-bind="infoPanel.node.name"></span>
      <a class="node-module-name choose-node" ng-bind="infoPanel.node.module.name" ng-click="chooseNode(infoPanel.node.module)"></a>
    </div>

    <div dg-info-panel-list="infoPanel.node.deps" title="Dependencies"></div>
    <div dg-info-panel-list="infoPanel.node.provides" title="Required by"></div>

    <div class="service" dg-info-panel-list="infoPanel.node.componentsByType['service']" title="Services"></div>
    <div class="controller" dg-info-panel-list="infoPanel.node.componentsByType['controller']" title="Controllers"></div>
    <div class="directive" dg-info-panel-list="infoPanel.node.componentsByType['directive']" title="Directives"></div>
    <div class="filter" dg-info-panel-list="infoPanel.node.componentsByType['filter']" title="Filters"></div>

  </div>

  <div ng-controller="FilterModulesCtrl as filterModules">
    Ignore modules:
    <input type="text" ng-model="filterModules.ignoreModules" ng-change="filterModules.change()"></input><br/>
    Filter modules:
    <input type="text" ng-model="filterModules.filterModules" ng-change="filterModules.change()"></input>
  </div>


</div>
