<!doctype html>
<html ng-app="ngDependencyGraph">
<head>
  <link rel="stylesheet" href="styles/main.css">

  <script src="vendor/jquery-2.1.1.min.js"></script>
  <script src="vendor/angular.js"></script>
  <script src="vendor/angular-animate.js"></script>
  <script src="vendor/d3.min.js"></script>
  <script src="vendor/lodash.js"></script>


  <!-- inject:js -->
  <script src="scripts/app.module.js"></script>
  <script src="scripts/services/nodeFactory.js"></script>
  <script src="scripts/services/mediator.js"></script>
  <script src="scripts/services/graph.js"></script>
  <script src="scripts/services/drawDeps.js"></script>
  <script src="scripts/services/dev.js"></script>
  <script src="scripts/services/currentView.js"></script>
  <script src="scripts/services/controls.js"></script>
  <script src="scripts/services/chromeExtension.js"></script>
  <script src="scripts/services/chart.js"></script>
  <script src="scripts/services/appInfo.js"></script>
  <script src="scripts/services/appDeps.js"></script>
  <script src="scripts/services/appContext.js"></script>
  <script src="scripts/services/Const.js"></script>
  <script src="scripts/inject/debug.js"></script>
  <script src="scripts/scripts/developmentData.js"></script>
  <script src="scripts/models/models.module.js"></script>
  <script src="scripts/models/Node.js"></script>
  <script src="scripts/models/ModuleStats.js"></script>
  <script src="scripts/models/Module.js"></script>
  <script src="scripts/models/Component.js"></script>
  <script src="scripts/models/App.js"></script>
  <script src="scripts/graph/dgGraph.js"></script>
  <script src="scripts/infoPanel/infoPanel.module.js"></script>
  <script src="scripts/infoPanel/InfoPanelCtrl.js"></script>
  <script src="scripts/controls/controls.module.js"></script>
  <script src="scripts/controls/FilterNameCtrl.js"></script>
  <script src="scripts/app/MainCtrl.js"></script>
  <!-- endinject -->
  
</head>
<body>
  <div ng-controller="MainCtrl as main" class="main">
    <div dg-graph class="dg-graph" ng-if="currentView.graph">
      <div class="controls">
        <div ng-controller="FilterNameCtrl">
          Search: <input type="text" ng-model="name"></input>
        </div>
        <div class="choose-scope">
          <div ng-click="main.chooseScope('modules')" ng-class="{active: currentView.scope === 'modules'}">Modules
          </div><div ng-click="main.chooseScope('components')" ng-class="{active: currentView.scope === 'components'}">Components</div>
        </div>
      </div>
      <div class="legend">
        <div class="mouse-instrction">
          <div>Scroll mouse - zoom in/out</div>
          <div>Drag canvas - move around</div>
        </div>
        <div class="trigger-components">
          <div class="services"><label><input type="checkbox"></input> Services</label></div>
          <div class="controllers"><label><input type="checkbox"></input> Controllers</label></div>
          <div class="directives"><label><input type="checkbox"></input> Directives</label></div>
          <div class="filters"><label><input type="checkbox"></input> Filters</label></div>
        </div>
      </div>
    </div>
    
    <!-- <div class="filters__component-type hidden">
      <label><input type="checkbox"/> Services</label><br/>
      <label><input type="checkbox"/> Controllers</label><br/>
      <label><input type="checkbox"/> Directives</label><br/>
      <label><input type="checkbox"/> Filters</label>
    </div> -->
    <div class="info-panel-wrapper" ng-include="'scripts/infoPanel/infoPanel.html'">
    </div>

  </div>
  <svg style="display: none">
    <defs>
    <filter id="glow" x="-30%" y="-30%" width="160%" height="160%">
    <feGaussianBlur stdDeviation="0.3 0.3" result="glow"/>
    <feMerge>
    <!-- <feMergeNode in="glow"/> -->
    <feMergeNode in="glow"/>
    <feMergeNode in="glow"/>
    </feMerge>
    </filter>
    </defs>
  </svg>
</body>
</html>
