<div class="about">
  <img src="img/webstore-icon.png"/>
  <div>
    <h3>AngularJS Dependency Graph browser</h3>
    <div ng-if="!app.angularVersion">
      No AngularJS app detected. Please open in a tab with AngularJS app.
      <a class="open-graph sample" ng-click="app.loadSampleApp()">Open sample app</a>
    </div>
    
    <div ng-if="app.angularVersion">Detected Angular app version {{ app.angularVersion }}. <a class="open-graph current" ng-click="app.loadInspectedApp()">Open graph</a></div>

    <div>
      Project site: <a href="http://filso.github.io/ng-dependency-graph/" target="_new">http://filso.github.io/ng-dependency-graph/</a>
    </div>
  </div>

</div>