<div class="about">
  <img src="img/webstore-icon.png"/>
  <div>
    <h3>AngularJS Dependency Graph browser</h3>
    <div ng-if="!app.angularVersion">
      No AngularJS app detected. Please open in a tab with AngularJS app.
      <a class="open-graph sample" ng-click="app.loadSampleApp()">Open sample app</a>
    </div>

    <div ng-if="app.angularVersion">Detected AngularJS version <strong>{{ app.angularVersion }}</strong> &nbsp;
      <a ng-if="app.appName" class="open-graph current" ng-click="app.insertCookieAndRefresh(app.appName)">Open '{{ app.appName }}'</a>

      <div ng-if="!app.appName">
        <input ng-click="app.insertCookieAndRefresh(appName)" type="text" placeholder="Insert app name..." />
      </div>
    </div>

    <div>
      Project site: <a href="https://github.com/filso/ng-dependency-graph" target="_new">https://github.com/filso/ng-dependency-graph</a>
    </div>
  </div>

</div>