<div class="service">
  <label>
    <input type="checkbox" ng-model="currentView.filters.componentsVisible.service" ng-change="change()" />
    Services</label
  >
</div>
<div class="controller">
  <label>
    <input type="checkbox" ng-model="currentView.filters.componentsVisible.controller" ng-change="change()" />
    Controllers</label
  >
</div>
<div class="directive">
  <label>
    <input type="checkbox" ng-model="currentView.filters.componentsVisible.directive" ng-change="change()" />
    Directives</label
  >
</div>
<div class="filter">
  <label>
    <input type="checkbox" ng-model="currentView.filters.componentsVisible.filter" ng-change="change()" />
    Filters</label
  >
</div>
<div class="value">
  <label>
    <input type="checkbox" ng-model="currentView.filters.componentsVisible.value" ng-change="change()" />
    Values</label
  >
</div>
