<div class="service"><label>
<input type="checkbox" ng-model="currentView.filters.componentsVisible.service" ng-change="change()"></input> 
 Services</label></div>
<div class="controller"><label>
<input type="checkbox" ng-model="currentView.filters.componentsVisible.controller" ng-change="change()"></input>
 Controllers</label></div>
<div class="directive"><label>
<input type="checkbox" ng-model="currentView.filters.componentsVisible.directive" ng-change="change()"></input>
 Directives</label></div>
<div class="filter"><label>
<input type="checkbox" ng-model="currentView.filters.componentsVisible.filter" ng-change="change()"></input>
 Filters</label></div>
 <div class="value"><label>
 <input type="checkbox" ng-model="currentView.filters.componentsVisible.value" ng-change="change()"></input>
  Values</label></div>